<!-- <hello name="{{ name }}"></hello> -->

<h1>RESUME</h1>

<section>
  <h3>Personal Details:</h3>
  <table>
    <tr>
      <td>name</td>
      <td>: kathiravan</td>
    </tr>
    <tr>
      <td>genden</td>
      <td>: male</td>
    </tr>
    <tr>
      <td>place</td>
      <td>: kaippani</td>
    </tr>
  </table>
</section>

<section>
  <h3>Educational Details:</h3>
  <table class="table2">
    <tr>
      <th>pegree</th>
      <th>university</th>
      <th>mark</th>
    </tr>
    <tr>
      <td>10th</td>
      <td>aabinash collage</td>
      <td>450</td>
    </tr>
    <tr>
      <td>12th</td>
      <td>kumaran collage</td>
      <td>440</td>
    </tr>
    <tr>
      <td>BSC</td>
      <td>dena collage</td>
      <td>435</td>
    </tr>
    <tr>
      <td>MUS</td>
      <td>manfort collage</td>
      <td>445</td>
    </tr>
  </table>
</section>

<section>
  <h3>Hobbies:</h3>
  <ol>
    <li>cycling</li>
    <li>swimming</li>
    <li>reading book</li>
  </ol>
</section>
